$--max-width-main-layout: 1140px;
$font-hind: 'Hind',
sans-serif;

// colors
$--main-gradient-color: linear-gradient(to right, #138281, #0d549f);
$--light-gray: #636f6e;
$--light--blue: #f2fafc;
$--content-gray: #838383;
$--cyan-text: #20b4b3;
$--gray-text: #636f6e;
$--black-text: #000000;
$--border-gray: #bdbdbd;

// break points
$--small-phone: 320px;
$--medium-phone: 425px;
$--tablet: 768px;
$--laptop: 1024px;
$--desktop: 1440px;