footer.container-fluid.wow.fadeInUpBig
  .row.cta-footer
    p Learn more about how Infomedix products <br/> can work for your organisation
    .request-demo Request a Demo
  .row.footer-container
    .row.container-fluid.p-0.footer-content
      .col-lg-3
        .row.no-gutters
          .col-12
            h4
              img(src="../../../assets/imgs/footer-icon.svg", alt="footer logo")
          .col-12.col-lg-9
            .customer-service Customer Service Desk
          .col-12
            p.copy-right All Rights Reserved | Copyright © 2020
      .col-lg-9
        .row.no-gutters.h-100.m-0
          .col-lg-4.footer-text.d-flex.flex-column.justify-content-between
            ul
              li LinkedIn 
              li 
                a(href="tel:+61386154567") +61 3 8615 4567 <br/> 
                a(href="mailto:info@infomedix.com.au") info@infomedix.com.au
            p Level 2, 451 Little Bourke Street, <br/> Melbourne, VIC 3000 Australia
          .col-lg-4.footer-text
            ul
              li 
                a(href="/product.html") Products
              li 
                a(href="/product.html") Digital Patient Chart
              li 
                a(href="/product.html") Coding Manager
              li 
                a(href="/article.html") Referrals Manager
              li 
                a(href="/article.html") Disharge Manager
          .col-lg-4.footer-text
            ul
              li 
                a(href="/about-team.html") Meet The Team
              li 
                a(href="/about-story.html") Why Infomedix
              li 
                a(href="/customer-success.html") Customer Success
              li 
                a(href="/news.html") New Centre
              li 
                a(href="/contact.html") Contact Us
      .col-12.copy-right-mobile
        p.text-center All Rights Reserved | Copyright © 2020
    .position-absolute
      img(src="../../../assets/imgs/footer-item.svg", alt="footer item")