header
  .row.no-gutters.header-content.container-fluid
    .col-2.pc-logo
      a(href="/").logo
        img(src="../../assets/imgs/footer-icon.svg", alt="alt")
    .col-4.ipad-logo
      a(href="/").logo
        img(src="../../assets/imgs/footer-icon.svg", alt="alt")
    .col-8.mobile-logo
      a(href="/").logo
        img(src="../../assets/imgs/footer-icon.svg", alt="alt")
    .col-8.row.align--center.no-gutters.middle-header
      ul.row.no-gutters.container-fluid
        li.col
          a(href="/product.html").have-submenu Products
          .row.sub-menu.products
            .row.sub-menu-container
              .col-3
                .row.no-gutters 
                  .col-2
                    .logo.blue IM 
                  .col-10.submenu-title 
                    a(href="/single-page.html") Digital Patient Chart
                .row.no-gutters.submenu-content Unlock your patient data with InfoMedix Digital Patient Chart
              .col-3
                .row.no-gutters 
                  .col-2
                    .logo.purple IM
                  .col-10.submenu-title 
                    a(href="/single-page.html") Discharge Manager
                .row.no-gutters.submenu-content Seamless, secure, health information transfer with InfoMedix Discharge Manager
              .col-3
                .row.no-gutters 
                  .col-2
                    .logo.green IM 
                  .col-10.submenu-title 
                    a(href="/product.html") Coding Manager
                .row.no-gutters.submenu-content Automate worksflows and gain insight into clinical coding
              .col-3
                .row.no-gutters 
                  .col-2
                    .logo.yellow IM
                  .col-10.submenu-title 
                    a(href="/single-page.html") Referrals Manager
                .row.no-gutters.submenu-content Streamline your referrals process with InfoMedix Referrals Manager
        li.col
          a(href="/solution.html").have-submenu Solutions
          .row.sub-menu.solutions
            .row.sub-menu-container
              .col-4
                a(href="/single-page.html") Co-design
                a(href="/single-page.html") Digital Forms Developer
              .col-4
                a(href="/single-page.html") Training and Implementation
                a(href="/single-page.html") Managed Cloud Hosting
              .col-4
                a(href="/single-page.html") Integration
        li.col 
          a(href="/customer-success.html") Customer Success
        li.col
          a(href="/about-team.html").have-submenu About
          .row.sub-menu.about
            .row.sub-menu-container
              .col-6
                .row.submenu-content
                  .col-6
                    img(src="../../assets/imgs/dummyimg.png", alt="alt")
                  .col-6
                    p.title Meet the team
                    p.content DPC integrates patient and administrative data from existing hospital systems. DPC integrates patient and administrative data from existing hospital systems. 
                    a(href="/about-team.html").learn-more Learn more
              .col-6
                .row.submenu-content
                  .col-6
                    img(src="../../assets/imgs/dummyimg.png", alt="alt")
                  .col-6
                    p.title Our Story
                    p.content DPC integrates patient and administrative data from existing hospital systems. DPC integrates patient and administrative data from existing hospital systems. 
                    a(href="/about-story.html").learn-more Learn more
        li.col 
          a(href="/news.html") News Centre
    .col-2.contact
      a(href="/single-page.html").contact-us Contact Us
    .hamburger-menu
      div#icon-mobile
        span
        span
        span
#mobile-menu
  ul
    li 
      a(href="/product.html").have-submenu-mobile Products
      .submenu-mobile
        a(href="#").row.no-gutters
          img(src="../../assets/imgs/im-blue.svg", alt="IM Blue")
          p.mx-3 Digital Patient Chart
        a(href="#").row.no-gutters
          img(src="../../assets/imgs/im-purple.svg", alt="IM Purple")
          p.mx-3 Discharge Manager
        a(href="#").row.no-gutters
          img(src="../../assets/imgs/im-green.svg", alt="IM Green")
          p.mx-3 Coding Manager
        a(href="#").row.no-gutters
          img(src="../../assets/imgs/im-yellow.svg", alt="IM Yellow")
          p.mx-3 Referrals Manager
    li
      a(href="/solution.html").have-submenu-mobile Solutions
      .submenu-mobile
        a(href="/solution.html").d-block.w-100 Co-design
        a(href="#").d-block.w-100 Digital Forms Developement
        a(href="#").d-block.w-100 Training and Implementation
        a(href="#").d-block.w-100 Managed Cloud Hosting
        a(href="#").d-block.w-100 Integration
    li 
      a(href="/customer-success.html") Customer Success
    li
      a(href="/about-story.html").have-submenu-mobile About
      .submenu-mobile.row.no-gutters
        a(href="#").d-block.w-100 Meet the team
        a(href="#").d-block.w-100 Our story
    li 
      a(href="/news.html") News Centre
#dark-bg