.news-block(style={"background-color": "#F7F7F7"})
  .news-block-container.row.no-gutters
    .left.col-lg-4.news-block-content
      p News Centre
      h3 Current News and Press Releases
    .right.col-lg-8
      img(src="../../assets/imgs/image_solution.png", alt="alt")
