section#sectionOne.container-fluid.left.wow.slideInLeft
  .row.no-gutters.container-fluid(style={"background-color": "#F7F7F7"})
    .container-fluid.sectionOne-container
      .row.no-gutters.sectionOne-main-content
        .col-md-5.d-flex.flex-column.justify-content-center.align--left.sectionOne-content
          h3 Learn about our story
          p “The InfoMedix Digital Medical Record has been a welcome addition to patient care in all environments and most particularly in the Emergency Department. The ease of accessibility to the patient file in real time has been a clear and timely advancement in the provision of Emergency Care to our patients. It has been an actual life saver… “
          div.learn-more 
            a(href="#") Learn More
        .col-md-7
          img(src="../../assets/imgs/healthcare-technology-trends-2019a.png", alt="alt")
  .row.section-one-content-two(style={"background-color": "rgba(46, 51, 52, 0.8)"})
    .container.row.no-gutters.container
      .col-md-5
        p Unlocking the data in your paper medical records made easy.
      .col-md-7.row.container
        .col-sm-6 
          p InfoMedix is proud to be an Australian owned and operated company with a wealth of experience in delivering software solutions
        .col-sm-6 
          p InfoMedix is proud to be an Australian owned and operated company with a wealth of experience in delivering software solutions

//- section#sectionOne.container-fluid.left.wow.bounceInUp
//-   .container-fluid
//-     .row.no-gutters.sectionOne-content
//-       .col-md-5.d-flex.flex-column.justify-content-center.align--left.sectionOne-content
//-         h3 Meet our team.
//-         p “The InfoMedix Digital Medical Record has been a welcome addition to patient care in all environments and most particularly in the Emergency Department. The ease of accessibility to the patient file in real time has been a clear and timely advancement in the provision of Emergency Care to our patients. It has been an actual life saver… “
//-         div.learn-more 
//-           a(href="#") Learn More
//-       .col-md-7
//-         img(src="../../assets/imgs/shutterstock_317573531.png", alt="alt")