section#sectionSix.w-100.wow.fadeInUpBig
  .container-fluid
    h3 News Centre
    .row.d-flex.justify-content-between.sectionSix-content.have-slider
      .col-md-4.content-box
        .row.no-gutters.news-img
          img(src="../../assets/imgs/dummyimg.png", alt="alt")
        .row.no-gutters.news-content
          p.status.update Update
          h4.title Development of Digital Forms for COVID-19
          p.content InfoMedix is working collaboratively with our partners to provide support for their Health Services during this challenging time. One step we have taken is to create and provide digital forms to assist our customers during COVID-19 as part of their existing solution. The digital forms have been co-designed with our customers and are available for COVID-19 Triage and COVID-19 Clinic notes. These forms have now been implemented in health services in Victoria and Tasmania. Please contact lisa.white@infomedix.com.au for more information on how to implement at your health service
        .position-absolute.news-btn Read More

      .col-md-4.content-box
        .row.no-gutters.news-img
          img(src="../../assets/imgs/dummyimg.png", alt="alt")
        .row.no-gutters.news-content
          p.status.update Update
          h4.title Development of Digital Forms for COVID-19
          p.content InfoMedix is working collaboratively with our partners to provide support for their Health Services during this challenging time. One step we have taken is to create and provide digital forms to assist our customers during COVID-19 as part of their existing solution. The digital forms have been co-designed with our customers and are available for COVID-19 Triage and COVID-19 Clinic notes. These forms have now been implemented in health services in Victoria and Tasmania. Please contact lisa.white@infomedix.com.au for more information on how to implement at your health service
        .position-absolute.news-btn Read More

      .col-md-4.content-box
        .row.no-gutters.news-img
          img(src="../../assets/imgs/dummyimg.png", alt="alt")
        .row.no-gutters.news-content
          p.status.opinion Opinion
          h4.title Development of Digital Forms for COVID-19
          p.content InfoMedix is working collaboratively with our partners to provide support for their Health Services during this challenging time. One step we have taken is to create and provide digital forms to assist our customers during COVID-19 as part of their existing solution. The digital forms have been co-designed with our customers and are available for COVID-19 Triage and COVID-19 Clinic notes. These forms have now been implemented in health services in Victoria and Tasmania. Please contact lisa.white@infomedix.com.au for more information on how to implement at your health service
        .position-absolute.news-btn Read More
    div.d-flex.align-items-center.justify-content-center
      a(href="#" class="view-all") View all articles

  //- .container-fluid
  //-   h3 Related Articles
  //-   .row.d-flex.justify-content-between.sectionSix-content.have-slider
  //-     .col-md-4.content-box
  //-       .row.no-gutters.news-img

  //-       .row.no-gutters.news-content
  //-         p.status.update Update
  //-         h4.title Development of Digital Forms for COVID-19
  //-         p.content InfoMedix is working collaboratively with our partners to provide support for their Health Services during this challenging time. One step we have taken is to create and provide digital forms to assist our customers during COVID-19 as part of their existing solution. The digital forms have been co-designed with our customers and are available for COVID-19 Triage and COVID-19 Clinic notes. These forms have now been implemented in health services in Victoria and Tasmania. Please contact lisa.white@infomedix.com.au for more information on how to implement at your health service
  //-       .position-absolute.news-btn Read More

  //-     .col-md-4.content-box
  //-       .row.no-gutters.news-img

  //-       .row.no-gutters.news-content
  //-         p.status.update Update
  //-         h4.title Development of Digital Forms for COVID-19
  //-         p.content InfoMedix is working collaboratively with our partners to provide support for their Health Services during this challenging time. One step we have taken is to create and provide digital forms to assist our customers during COVID-19 as part of their existing solution. The digital forms have been co-designed with our customers and are available for COVID-19 Triage and COVID-19 Clinic notes. These forms have now been implemented in health services in Victoria and Tasmania. Please contact lisa.white@infomedix.com.au for more information on how to implement at your health service
  //-       .position-absolute.news-btn Read More

  //-     .col-md-4.content-box
  //-       .row.no-gutters.news-img

  //-       .row.no-gutters.news-content
  //-         p.status.opinion Opinion
  //-         h4.title Development of Digital Forms for COVID-19
  //-         p.content InfoMedix is working collaboratively with our partners to provide support for their Health Services during this challenging time. One step we have taken is to create and provide digital forms to assist our customers during COVID-19 as part of their existing solution. The digital forms have been co-designed with our customers and are available for COVID-19 Triage and COVID-19 Clinic notes. These forms have now been implemented in health services in Victoria and Tasmania. Please contact lisa.white@infomedix.com.au for more information on how to implement at your health service
  //-       .position-absolute.news-btn Read More