section#sectionTwo.container-fluid.wow.fadeInUpBig(style={"background-color": "#F7F7F7"})
  .row.no-gutters.sectionTwo-content
    .col-sm-6.d-flex.align--center.justify-content-center
      img(src="../../../assets/imgs/footer-item.svg", alt="alt", class="sectionTwo-img")
    .col-sm-6.sectionTwo-content
      h4 Standalone products, <br /> transformative together.
      p Each Infomedix product addresses a different healthcare challenge. They can be used as standalone modules or used altogether to provide a complete solution