section#sectionFive.container-fluid.left.wow.fadeInUpBig
  .row.no-gutters.sectionFive-content
    .col-md-5.d-flex.flex-column.justify-content-center.align--left.sectionFive-content
      h3 Learn about our story
      p “The InfoMedix Digital Medical Record has been a welcome addition to patient care in all environments and most particularly in the Emergency Department. The ease of accessibility to the patient file in real time has been a clear and timely advancement in the provision of Emergency Care to our patients. It has been an actual life saver… “
      div.learn-more 
        a(href="#") Learn More
    .col-md-7
      img(src="../../assets/imgs/shutterstock_317573531.png", alt="alt")

//- section#sectionFive.container-fluid.right.wow.fadeInUpBig
//-   .row.no-gutters.sectionFive-content
//-     .col-md-5.d-flex.flex-column.justify-content-center.align--left.sectionFive-content
//-       h3 Meet our team.
//-       p “The InfoMedix Digital Medical Record has been a welcome addition to patient care in all environments and most particularly in the Emergency Department. The ease of accessibility to the patient file in real time has been a clear and timely advancement in the provision of Emergency Care to our patients. It has been an actual life saver… “
//-       div.learn-more 
//-         a(href="#") Learn More
//-     .col-md-7
//-       img(src="../../assets/imgs/shutterstock_317573531.png", alt="alt")