section#sectionNine.container-fluid.left.wow.fadeInUpBig
    .divContent(style='background-color: #F7F7F7')
        .divLeft
            h3 The InfoMedix Story
        .divRight
            p Infomedix is proud to be an Australian owned and operated company with a wealth of experience in delivering software solutions to hospitals since 2000. The range of Infomedix products are now implemented in over 60 sites across Australia in acute, mental health and community healthcare settings.<br>
                |Infomedix digitally holds over 32 million pathology and radiology results , over 10 million digitally created forms, and over 240 million scanned documents. We have more than 46,000 individual users accessing our system every day and we integrate with over 30 different clinical and administration systems.
        
section#sectionNine.container-fluid.left.wow.fadeInUpBig
    .divContent#timeline
        .divLeft
            h3 The InfoMedix <br>Timeline
        .divRight
            .yearStart 2000
            p InfoMedix was founded in 2000 focusing on electronic medical records for public and private healthcare institutions
            .img
                img(alt='image timeline' title='timeline' src='./assets/imgs/sectionNine/timeline.svg')
            .row
                .colLeft
                .colRight.yearTimeline 2004

section#sectionNine.container-fluid.left.wow.fadeInUpBig
    .divContent(style='background-color: #F7F7F7')
        .divLeft
            h3 Why InfoMedix
        .divRight
            p We move hospitals from paper charts to digital charts in a minimum of time with a minimum change management required. Our ability to interoperate with other solutions in the hospital, including diagnostics and referrals via HL7 makes Infomedix an easy choice when searching for a solution to unlock the data held in paper records.<br>
                |We are committed to the healthcare industry as a trusted solution for your data collection and storage and are determined to stay at the forefront of technology trends in healthcare.<br>
                |Under new ownership since March 2018, Infomedix has a clear focus of continuous improvement for our existing and future clients. The Infomedix team consists of professionals experienced in the health sector and is key to the success of Infomedix in Australia. Our developers take a CoDesign approach to ensure that the technology we produce is fit for purpose in a healthcare setting. Fundamentally this means that the technology will not be developed if it is not meaningful to the end user.<br>
                |Backed by a commendable reputation of delivering the Clinical Patient Folder (CPF) and other clinical and HIM modules to some of Australia’s largest health enterprises, Infomedix understands what is required to be a trusted provider of high-quality digitised solutions enabled by information and new technologies. From this foundation we now have the Digital Patient Chart, securely available in the cloud.