section#sectionFifteen.container-fluid
    #solution
        .gray(style='background-color: #F7F7F7')
            .divContent
                h6 Solutions for
                h3 Co-design
            .img
                img(alt='image Solution Page' title='image' src='./assets/imgs/sectionFifteen/imgSolutionPage.png')
        .darkGray(style='background-color: #585C5D')
            h4.left We create powerful, fit for purpose products, because of our powerful co-design approach.
            p.right InfoMedix works collaboratively with health care organisations to ensure the technology we produce solves real problems and is fit for purpose within a healthcare setting.
    #story
        .gray(style='background-color: #F7F7F7')
            .divContent
                p.title The Infomedix Story
                p.content  InfoMedix is proud to be an Australian owned and operated company with a wealth of experience in delivering software solutions
            .img
                img(alt='image Story Page' title='image' src='./assets/imgs/sectionFifteen/imgStoryPage.png')
