section#sectionThirteen.container-fluid.wow.fadeInUpBig
    .banner
        img(alt='banner' title='banner' src='./assets/imgs/sectionThirteen/banner.png')
    .header(style='background-color: #F7F7F7')
        .title
            h3 Article Header
            h6 Written by: Firstname Lastname
        .description InfoMedix is proud to be an Australian owned and operated company with a wealth of experience in delivering software solutions InfoMedix is proud to be an Australian owned and operated company with a wealth of experience in delivering software solutions 
    .content We move hospitals from paper charts to digital charts in a minimum of time with a minimum change management required. Our ability to interoperate with other solutions in the hospital, including diagnostics and referrals via HL7 makes Infomedix an easy choice when searching for a solution to unlock the data held in paper records.<br>
        |We are committed to the healthcare industry as a trusted solution for your data collection and storage and are determined to stay at the forefront of technology trends in healthcare.<br>
        |Under new ownership since March 2018, Infomedix has a clear focus of continuous improvement for our existing and future clients. The Infomedix team consists of professionals experienced in the health sector and is key to the success of Infomedix in Australia. Our developers take a CoDesign approach to ensure that the technology we produce is fit for purpose in a healthcare setting. Fundamentally this means that the technology will not be developed if it is not meaningful to the end user.<br>
        |Backed by a commendable reputation of delivering the Clinical Patient Folder (CPF) and other clinical and HIM modules to some of Australia’s largest health enterprises, Infomedix understands what is required to be a trusted provider of high-quality digitised solutions enabled by information and new technologies. From this foundation we now have the Digital Patient Chart, securely available in the cloud.
    //-.items.slick-slide
    .img
        img(alt='image' title='image' src='./assets/imgs/sectionThirteen/img.png')
        img(alt='image' title='image' src='./assets/imgs/sectionThirteen/img.png')
    .content We move hospitals from paper charts to digital charts in a minimum of time with a minimum change management required. Our ability to interoperate with other solutions in the hospital, including diagnostics and referrals via HL7 makes Infomedix an easy choice when searching for a solution to unlock the data held in paper records.<br>
        |We are committed to the healthcare industry as a trusted solution for your data collection and storage and are determined to stay at the forefront of technology trends in healthcare.<br>
        |Under new ownership since March 2018, Infomedix has a clear focus of continuous improvement for our existing and future clients. The Infomedix team consists of professionals experienced in the health sector and is key to the success of Infomedix in Australia. Our developers take a CoDesign approach to ensure that the technology we produce is fit for purpose in a healthcare setting. Fundamentally this means that the technology will not be developed if it is not meaningful to the end user.<br>
        |Backed by a commendable reputation of delivering the Clinical Patient Folder (CPF) and other clinical and HIM modules to some of Australia’s largest health enterprises, Infomedix understands what is required to be a trusted provider of high-quality digitised solutions enabled by information and new technologies. From this foundation we now have the Digital Patient Chart, securely available in the cloud.
    .banner
        img(alt='banner' title='banner' src='./assets/imgs/sectionThirteen/banner.png')
    .content We move hospitals from paper charts to digital charts in a minimum of time with a minimum change management required. Our ability to interoperate with other solutions in the hospital, including diagnostics and referrals via HL7 makes Infomedix an easy choice when searching for a solution to unlock the data held in paper records.<br>
        |We are committed to the healthcare industry as a trusted solution for your data collection and storage and are determined to stay at the forefront of technology trends in healthcare.<br>
        |Under new ownership since March 2018, Infomedix has a clear focus of continuous improvement for our existing and future clients. The Infomedix team consists of professionals experienced in the health sector and is key to the success of Infomedix in Australia. Our developers take a CoDesign approach to ensure that the technology we produce is fit for purpose in a healthcare setting. Fundamentally this means that the technology will not be developed if it is not meaningful to the end user.<br>
        |Backed by a commendable reputation of delivering the Clinical Patient Folder (CPF) and other clinical and HIM modules to some of Australia’s largest health enterprises, Infomedix understands what is required to be a trusted provider of high-quality digitised solutions enabled by information and new technologies. From this foundation we now have the Digital Patient Chart, securely available in the cloud.
    hr
    .share
        a(href='#' title='share')
            img(alt='share icon' title='share' src='./assets/imgs/sectionThirteen/share.svg')
            span SHARE
