section#sectionTen.wow.fadeInUpBig
  .sectionTen-btn-container.container-fluid
    .row.no-gutters.justify-content-between
      .news-btn
        a(href="#") Articles
      .news-btn
        a(href="#") Press Release
  .container-fluid
    .row.d-flex.justify-content-between.sectionTen-content.have-slider
      .col-md-4.content-box
        .row.no-gutters.news-img
          img(src="../../assets/imgs/dummyimg.png", alt="alt")
        .row.no-gutters.news-content
          p.status.update Update
          h4.title Development of Digital Forms for COVID-19
          p.content InfoMedix is working collaboratively with our partners to provide support for their Health Services during this challenging time. One step we have taken is to create and provide digital forms to assist our customers during COVID-19 as part of their existing solution. The digital forms have been co-designed with our customers and are available for COVID-19 Triage and COVID-19 Clinic notes. These forms have now been implemented in health services in Victoria and Tasmania. Please contact lisa.white@infomedix.com.au for more information on how to implement at your health service
        .position-absolute.news-btn
          a(href="#") Read More

      .col-md-4.content-box
        .row.no-gutters.news-img
          img(src="../../assets/imgs/dummyimg.png", alt="alt")
        .row.no-gutters.news-content
          p.status.update Update
          h4.title Development of Digital Forms for COVID-19
          p.content InfoMedix is working collaboratively with our partners to provide support for their Health Services during this challenging time. One step we have taken is to create and provide digital forms to assist our customers during COVID-19 as part of their existing solution. The digital forms have been co-designed with our customers and are available for COVID-19 Triage and COVID-19 Clinic notes. These forms have now been implemented in health services in Victoria and Tasmania. Please contact lisa.white@infomedix.com.au for more information on how to implement at your health service
        .position-absolute.news-btn
          a(href="#") Read More

      .col-md-4.content-box
        .row.no-gutters.news-img
          img(src="../../assets/imgs/dummyimg.png", alt="alt")
        .row.no-gutters.news-content
          p.status.opinion Opinion
          h4.title Development of Digital Forms for COVID-19
          p.content InfoMedix is working collaboratively with our partners to provide support for their Health Services during this challenging time. One step we have taken is to create and provide digital forms to assist our customers during COVID-19 as part of their existing solution. The digital forms have been co-designed with our customers and are available for COVID-19 Triage and COVID-19 Clinic notes. These forms have now been implemented in health services in Victoria and Tasmania. Please contact lisa.white@infomedix.com.au for more information on how to implement at your health service
        .position-absolute.news-btn
          a(href="#") Read More

      .col-md-4.content-box
        .row.no-gutters.news-img
          img(src="../../assets/imgs/dummyimg.png", alt="alt")
        .row.no-gutters.news-content
          p.status.update Update
          h4.title Development of Digital Forms for COVID-19
          p.content InfoMedix is working collaboratively with our partners to provide support for their Health Services during this challenging time. One step we have taken is to create and provide digital forms to assist our customers during COVID-19 as part of their existing solution. The digital forms have been co-designed with our customers and are available for COVID-19 Triage and COVID-19 Clinic notes. These forms have now been implemented in health services in Victoria and Tasmania. Please contact lisa.white@infomedix.com.au for more information on how to implement at your health service
        .position-absolute.news-btn 
          a(href="#") Read More

      .col-md-4.content-box
        .row.no-gutters.news-img
          img(src="../../assets/imgs/dummyimg.png", alt="alt")
        .row.no-gutters.news-content
          p.status.update Update
          h4.title Development of Digital Forms for COVID-19
          p.content InfoMedix is working collaboratively with our partners to provide support for their Health Services during this challenging time. One step we have taken is to create and provide digital forms to assist our customers during COVID-19 as part of their existing solution. The digital forms have been co-designed with our customers and are available for COVID-19 Triage and COVID-19 Clinic notes. These forms have now been implemented in health services in Victoria and Tasmania. Please contact lisa.white@infomedix.com.au for more information on how to implement at your health service
        .position-absolute.news-btn
          a(href="#") Read More

      .col-md-4.content-box
        .row.no-gutters.news-img
          img(src="../../assets/imgs/dummyimg.png", alt="alt")
        .row.no-gutters.news-content
          p.status.opinion Opinion
          h4.title Development of Digital Forms for COVID-19
          p.content InfoMedix is working collaboratively with our partners to provide support for their Health Services during this challenging time. One step we have taken is to create and provide digital forms to assist our customers during COVID-19 as part of their existing solution. The digital forms have been co-designed with our customers and are available for COVID-19 Triage and COVID-19 Clinic notes. These forms have now been implemented in health services in Victoria and Tasmania. Please contact lisa.white@infomedix.com.au for more information on how to implement at your health service
        .position-absolute.news-btn
          a(href="#") Read More

  .news-btn.m-30-auto 
    a(href="#") Load More

  .row.no-gutters.sectionTen-container
    .sectionTen-content.row.no-gutters
      .col-md-7.d-flex.flex-column.justify-content-center.align--left
        h3 Standalone products, transformative together.
        p “The InfoMedix Digital Medical Record has been a welcome addition to patient care in all environments and most particularly in the Emergency Department. The ease of accessibility to the patient file in real time has been a clear and timely advancement in the provision of Emergency Care to our patients. It has been an actual life saver… “
        div.learn-more 
          a(href="#") Learn More
      .col-md-5
        img(src="../../assets/imgs/sectionTen.png", alt="alt")