.single {
  width: 100%;
  .product-detail {
    display: flex;
    margin-bottom: 50px;
    .gallery {
      max-width: 460px;
    }
    .detail {
      max-width: 740px;
    }
  }
  .tabs {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    button {
      font-size: 20px;
      padding: 5px 35px;
      border: none;
      outline: none;
      cursor: pointer;
    }
    .active {
      transform: translateY(1px);
      background-color: white;
      border-top: 2px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: none;
    }
  }
  .policy-size {
    #policies {
      article {padding-bottom: 30px;}
      h4 {
        font-size: 18px;
        margin-bottom: 20px;
      }
      p {
        font-size: 16px;
        letter-spacing: 0.5px;
        margin-bottom: 15px;
        &:last-child {margin-bottom: 0;}
      }
    }
    .hide {
      display: none;
    }
  }
  /* end policy-size */
}

.gallery {

}

.detail {
  padding-left: 30px;
  h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .type {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .describe {
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
  }
  .price {
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .choose-size {
    margin-bottom: 30px;
    p {
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.5px;
      margin-bottom: 10px;
    }
    .size-container {
      display: inline-flex;
      justify-content: space-between;
      width: 250px;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 40px;
        height: 40px;
        border: 1px solid black;
        transition: 0.1s ease-in-out;
        &:hover {
          border: 3px solid black;
        }
      }
      /* end div */
      .active {
        border: 3px solid black;
      }
    }
    /* end sizes */
  }
  .add-cart {
    overflow: auto;
    label {
      display: block;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .button {
      float: left;
      width: 40px;
      height: 40px;
      font-size: 30px;
      font-weight: 900;
      color: gray;
      text-align: center;
      border: 1px solid #cbcbcb;
      cursor: pointer;
      position: relative;
    }
    .dec:before {
      content: "-";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .inc:after {
      content: "+";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .quantity {
      float: left;
      width: 80px;
      height: 40px;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      border: 1px solid #cbcbcb;
      border-collapse: collapse;
    }
    .add {
      float: left;
      clear: both;
      font-size: 20px;
      font-weight: 700;
      margin-top: 30px;
      padding: 10px 80px;
      background-color: black;
      border: none;
      outline: none;
      color: white;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: darksalmon;
      }
    }
  }
  /* end choose-size */
}
