#offer-tracking {
  .track-real-time {
    border-bottom: 1px solid #eeeeee;

    .talent-content--text {
      max-width: 1030px;
    }

    @include customBreakPointPcDown($--tablet) {
      border-bottom: none;

      &--content {
        text-align: left;
        max-width: 450px;
      }
    }
  }
}