#sectionFourteen{
    background-color: #F7F7F7;
    padding: 0;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0.27px;
    font-family: 'GothamRounded-Book' !important;
    .container-fluid{
        padding: 0 !important;
        max-width: 1440px;
    }
    .solution-infor{
        .top{
            .row{
                flex-direction: row-reverse;
                .col-md-5{
                    justify-content: center;
                    padding: 0 !important;
                    margin: 0 !important;
                    align-items: center;
                    .infor-solution{
                        padding: 100px 0;
                        letter-spacing: 0.75px;
                        padding-left: 125px;
                        margin: auto;                     
                        margin-left: 0;
                        margin-right: 0;
                        box-sizing: content-box;
                        .infor-solution-text{
                            max-width: 360px;
                            .title{
                                font-size: 30px;
                                line-height: 40px;
                                margin: 0 !important;
                                font-weight: 500;
                            }
                            .infor{
                                max-width: 500px !important;
                                padding: 40px 0;
                                font-weight: 600 !important;
                                line-height: 22px;
                            }
                            .btnViewBelow{
                                color: #D01902;
                                font-size: 16px;
                                letter-spacing: 0.15px;
                                line-height: 19px;
                                width: 138px;
                                border: 0px;
                                background: none;
                                text-align: left;
                            } 
                        }
                    }
                }
                .col-md-7{
                    .img{
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            max-height: 485px;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        .bottom{
            background-color: #ae013b;
            color: white;
            .container-fluid{
                max-width: 1220px;
                width: 100%;
                .row{
                    padding: 60px 0;
                    justify-content: center;
                    align-items: center;
                    .titleBlog{
                        max-width: 420px;
                        font-weight: 400;
                        font-size: 30px;
                        line-height: 60px;
                        width: 100%;
                    }
                    .col-6{
                        .Infor-Solution{
                            padding: 1% 5%;
                            height: 100%;
                            .solution{
                                padding: 0;
                                font-family: 'GothamRounded-Book';
                                height: 100%;
                                max-width: 100%;
                                text-align: left;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1168px) and (min-width: 993px) {
        .top{
            .row{
                .col-md-5{
                    display: flex;
                    margin: auto;
                    .infor-solution{
                        max-width: 400px;
                        padding: 0 !important;
                        font-size: 12px;
                        .infor-solution-text{
                            .title{
                                font-size: 20px !important;
                            }
                        }
                    }
                }
                
            }
        }
    }
    @media screen and (max-width: 992px) and (min-width: 768px) {
        .top{
            .row{
                .col-md-5{
                    display: flex;
                    margin: auto;
                    .infor-solution{
                        padding: 0 !important;
                        font-size: 12px;
                        .infor-solution-text{
                            max-width: 200px !important;
                            .title{
                                font-size: 20px !important;
                            }
                        }
                    }
                }
                
            }
        }
    }
    @media screen and (max-width: 767px) and (min-width: 577px) {
        .top{
            max-width: inherit !important;
            text-align: left;
            .infor-solution{
                .title{
                    padding: auto 0;
                    margin: 0;
                }
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px 0 !important;
            }
        }
        .bottom{
            padding: 30px 0px;
            .row{
                margin: 0 auto;
                padding: 0 !important;
                .titleBlog{
                    margin: 0;
                    font-size: 20px !important;
                    line-height: 60px !important;
                    text-align: left;
                    font-weight: 400 !important;
                }
                .row{
                    padding: 40px 0;
                    .Infor-Solution{
                        .solution{
                            max-width: initial !important;
                            width: 100%;
                            font-size: 15px !important;
                            line-height: 30px !important;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 576px) and (min-width: 320px) {
        .top{
            .row{
                padding: 20px 0 !important;
                margin: 0 !important;
                .col-12{
                    .img{
                        img{
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            max-height: 485px;
                        }
                    }
                    .infor-solution{
                        max-width: initial;
                        width: 100%;
                        padding: 0px !important;
                        margin: 0px!important;
                        .infor-solution-text{
                            .title{
                                font-size: 24px !important;
                                font-weight: 400;
                            }
                            .infor{
                                font-size: 13px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
        .bottom{
            padding: 30px 0px;
            .row{
                margin: 0 auto;
                padding: 0 !important;
                .titleBlog{
                    font-size: 24px !important;
                    line-height: 30px !important;
                    text-align: left;
                    font-weight: 400 !important;
                }
                .row{
                    padding: 20px 0;
                    .Infor-Solution{
                        .solution{
                            font-size: 15px !important;
                            line-height: 30px !important;
                        }
                    }
                }
            }
        }
    }
}