swagger: '2.0'
info:
  version: 1.0.0
  description: Perform management control task on things
  title: Controls Management API
  contact:
    name: Rainer Lutsch
    email: rainer.lutsch@zoi.de
host: api.ENV.kaercher.com
basePath: /mgmt-capi
paths:
  /things/{thingId}/logs:
    post:
      schemes:
        - https
      description: "Extract logs from thing"
      parameters:
        - name: "Authorization"
          in: "header"
          type: "string"
          description: "Bearer token"
          required: true
        - name: "x-api-version"
          in: "header"
          type: "string"
          description: "API Version to use (default is 1)"
        - name: "thingId"
          in: "path"
          description: "ID of bridge (direct device)"
          required: true
          type: "string"
      responses:
        '200':
          description: Command successfully sent
        '400':
          description: Invalid payload
        '401':
          description: ThingId is missing
        '403':
          description: Unauthorized
        '404':
          description: Command could not be sent
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - Command
    get:
      schemes:
        - https
      description: "Get logs from thing"
      parameters:
        - name: "Authorization"
          in: "header"
          type: "string"
          description: "Bearer token"
          required: true
        - name: "x-api-version"
          in: "header"
          type: "string"
          description: "API Version to use (default is 1)"
        - name: "thingId"
          in: "path"
          description: "ID of bridge (direct device)"
          required: true
          type: "string"
        - name: "nextToken"
          in: "query"
          description: "NextToken to get next page of logs"
          required: false
          type: "string"
        - name: "limit"
          in: "query"
          description: "Number logs per page limit"
          required: true
          type: "nuumber"
      responses:
        '200':
          description: Command successfully sent
        '400':
          description: Invalid payload
        '401':
          description: ThingId is missing
        '403':
          description: Unauthorized
        '404':
          description: Command could not be sent
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - Command
definitions:
  ErrorResponse:
    type: object
    properties:
      code:
        type: number
        format: int
        description: Error code
        enum: [12040,12041,12042,12999]
        example: 12999
      details:
        type: object
        properties:
          actor:
            type: string
            example: Unknown Error
          message:
            type: string
            example: An error occurred
          exceptionType:
            type: string
            example: 	UnknownError
          stackTrace:
            type: string
